.bodoni-moda-<uniquifier> {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    margin:0;
    font-family: "Bodoni Moda", serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250,248,245);
    padding: 15px 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}
.nav-links a {
    color: white;
    text-decoration: none;
}
.nav-links a:hover {
    color: rgb(217, 107, 67);
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(217, 107, 67);
}
